<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wit_recycle</title>
    <link rel="stylesheet" href="front_basic_page.css">
</head>
<body>
    <div class="left_container">
        <button type="button" id="btn_left" onclick="location.href='mypage.html'">MYPAGE</button>
        <button type="button" id="btn_right" onclick="location.href='logout.html'">LOGOUT</button>
    </div>
    <div class="logo">LOGO</div>
    <nav class="navbar" role="navigation">
        <ul>
            <li><a class="navbar-item" id="nav_post" href=" ">포스트</a></li>
            <li><a class="navbar-item" id="nav_practice" href=" ">실천 타임라인</a></li>
            <li><a class="navbar-item" id="nav_community" href=" ">커뮤니티</a></li>
            <li><a class="navbar-item" id="nav_funding" href=" ">펀딩</a></li>
            <li><a class="navbar-item" id="nav_event" href=" ">이벤트</a></li>
        </ul>
    </nav>

</body>
</html>