<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wit_recycle</title>
    <link rel="stylesheet" href="front_login.css">
</head>
<body>
    <div class="all">
        <div class="logo">LOGO </div>
        <form action="" method="get" class="login_form">
            <div class="id_form">
                <label for="email_id" id="label_id">ID</label>
                <input type="email" name="email_id" class="email_id" id="email_id" required>
                <br>
            </div>
            <div class="pwd_form">
                <label for="pwd" id="label_pwd">PASSWORD</label>
                <input type="password" name="pwd" id="pwd" class="pwd" required>
                <br>
            </div>
            <div id="btn_wrapper">
            <button type="submit" id="btn_submit">LOGIN</button>
            <button type="button" id="btn_signup" onclick="location.href='signup.html'">SIGNUP</button>
            </div>
        </form>
    </div>
</body>
</html>