{% extends 'front_basic_page.html' %}
{% block content %}
<div class="row">

    <a class="post_create_intro" href="{% url 'post:index' %}"> 포스트 </a>
  <div class="col">

    <form id="form_post" class=form_post action=" " method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p>
      <label for="id_title" id="post_title">제목</label>
        <input type="text" class="post_title_input" name="title" placeholder="제목을 입력해 주세요." maxlength="100" required id="id_title">
      </p>
      <p>
        <label for="id_text" id="post_text">내용</label>
            <textarea name="text" class="post_text_input" form="form_post" cols="40" rows="5" placeholder="내용을 입력해 주세요." required id="id_text" ></textarea>
         <!--<input type="text" class="post_text_input" size="1000" name="text" maxlength="100" placeholder="내용을 입력해 주세요." required id="id_text">-->
      </p>
       <p>
        <label for="id_image" id="post_image">이미지</label>
         <input type="file" class="post_image_input" name="image" required id="id_image">
      </p>
      <input type="submit" value="확인" class="btn_post_upload">
      <button type="button" onclick="location.href='{% url 'post:index' %}'" class="btn_post_unload" >취소</button>
    </form>
  </div>




</div>
{% endblock %}
