<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign_up</title>
</head>
<body>
<div id="left_side">

</div>
<div id ="decoration_line"></div>
<div id="right_side">
    <form method="post" action="" id="sign_up_request">
        <p id =email_head class="text_h"></p><input type="email" id="email_input" name="email" class ="input_line">
        <p id =email_head class="text_h"></p><input type="email" id="email_input" name="email" class ="input_line">
        <p id =email_head class="text_h"></p><input type="email" id="email_input" name="email" class ="input_line">
        <p id =email_head class="text_h"></p><input type="email" id="email_input" name="email" class ="input_line">
        <p id =email_head class="text_h"></p><input type="email" id="email_input" name="email" class ="input_line">
        <p id =email_head class="text_h"></p><input type="email" id="email_input" name="email" class ="input_line">
    </form>
</div>

</body>
</html>